<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>“智布”布匹瑕疵识别系统</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/pictureViewer.css"/>
	<link href="../static/css/main.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">“智布”</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="index.html">首页<span class="sr-only">(current)</span></a></li>
					<li><a href="main.html">主要功能</a></li>
					<li><a href="set.html">阈值设置</a></li>
					<li><a href="datas.html">数据集分析</a></li>
					<li class="active"><a href="standard.html">识别标准</a></li>
					<li><a href="statistics.html">结果可视化</a></li>
					<li><a href="#footer">关于系统</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="main container">
		<div class="page-header">
			<h1>瑕疵识别标准 &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  <small>小布有自己的标准哦</small></h1>
		</div>
	</div>

	<div class="main-content">

		<div class="image-list">
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E5%81%9C%E8%BD%A6%E7%97%95.jpg" data-id="在经编织物上由于机器停止、启动、减速等原因，使纱线张力产生变化而引起的整个线圈横列与正常织物不一样的条痕。" alt=""><p>停车痕</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E5%81%9C%E8%BD%A6%E7%97%95%E6%9D%BE.jpg" data-id="在经编织物上由于机器停止、启动、减速等原因，使纱线张力产生变化而引起的整个线圈横列与正常织物不一样的条痕。" alt=""><p>停车痕松</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E6%B1%A1%E6%9F%93.jpg"  data-id="布匹表面有大面积的色浆。" alt=""><p>污染</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E6%B2%B9%E6%B1%A1.jpg" data-id="布面上沾有油污之情形。" alt=""><p>油污</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E6%B5%86%E6%96%91.jpg" data-id="这种情况在色织染纱中最为普遍，产生这种情况的原因是由于浆纱机停止工作，从而导致过剩的胶料凝结在纱线上。这种缺陷通常表现在织物宽度方向上出现的条痕。" alt=""><p>浆斑</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E7%B4%A7%E7%BA%AC.jpg" data-id="指横条或因纬纱张力差而造成纬向痕迹。" alt=""><p>紧纬</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E7%B3%99%E7%BA%AC.jpg" data-id="原料脱圈造成糙纬。" alt=""><p>糙纬</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E7%BC%A9%E7%BA%AC.jpg" data-id="纬纱部分呈现松弛状，而发生一节成波浪。" alt=""><p>缩纬</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E9%94%99%E8%8A%B1.jpg" data-id="在纬纱断裂时对织布机进行维修以后对图像填充链的重新设置不正确都可能会导致这种缺陷的产生或由梭换筒错误而产生的。" alt=""><p>错花</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E6%96%AD%E7%BB%8F.jpg" data-id="经纱断裂后无法自停，在布面上少一条纬纱交织点形成空隙。" alt=""><p>断经</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E7%BB%8F%E6%9D%A1.jpg" data-id=" 这种情况指的是平纹组织的穿错，导致的结果是两根经纱重叠在一起。 " alt=""><p>经条</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E6%8A%98%E8%BF%94.jpg" data-id="指纬纱通过另一布边而折返，或纬纱通过另一布而折返。" alt=""><p>折返</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E7%A9%BA%E7%BB%87.jpg" data-id="布面上有一段距离为织入或缺少纬纱之现象。" alt=""><p>空织</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E7%BA%BF%E5%A4%B4.jpg" data-id="这种情况指的是，在织物的表面上有纱线悬挂着。" alt=""><p>线头</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E7%9A%B1%E5%8D%B0.jpg" data-id="这种织物缺陷是指在预缩处理过程当中由于浸湿不均匀而产生的经向变形，一般来说，是由于喷雾头不好而造成的。" alt=""><p>皱印</p></div>
			<div class="cover"><img src="https://www.beamingsunshine.cn/pictures/%E6%8A%98%E7%97%95.jpg" data-id="这种缺陷指的是织物在压力下自己折叠所产生的折痕。" alt=""><p>折痕</p></div>
		</div>
	</div>


	
	
	
	<footer id="footer">
		<p class="text-center footer">COPYRIGHT © zhibu 2019. ALL RIGHT RESERVED.</p>
		<p class="text-center">MADE WITH <span class="
			glyphicon glyphicon-heart"></span> BY HHUC hjm</p>
		</footer>
		<script type="text/javascript" src="../static/js/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/selectImg.js"></script>
		<script src="../static/js/jquery.mousewheel.min.js"></script>
		<script src="../static/js/pictureViewer.js"></script>
		<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
		<script>
			$(function () {
				$('.image-list').on('click', '.cover', function () {
					var this_ = $(this);
					var images = this_.parents('.image-list').find('.cover');
					var imagesArr = new Array();
					var wordsArr = new Array();
					$.each(images, function (i, image) {
						imagesArr.push($(image).children('img').attr('src'));
						wordsArr.push($(image).children('img').attr('data-id'));
					});
					$.pictureViewer({
						images: imagesArr, 
						words:wordsArr,
						initImageIndex: this_.index() + 1, 
						scrollSwitch: true 
					});
				});
			});
		</script>
	</body>
	</html>